$mobile: "taille  S";
$tablette: "taille M";
$desktop: "taille L";
$tv: "taille XL";

$XS: 5px;
$S: 10px;
$S_: 15px;
$M: 20px;
$L: 30px;
$XL: 50px;
$XXL: 60px;

$breakpoints:(mobile: 768px , desktop: 992px);

$primary: #111;
$secondary: #222;
$ternary: #333;



